name: Continuous Integration

# This GitHub action runs your tests for each pull request and push.
# Optionally, you can turn it on using a schedule for regular testing.
on:
    pull_request:
        paths-ignore:
            - 'README.md'
    push:
        branches:
            - main

env:
    LC_APPLICATION_ID: the-cla

# Testing only needs permissions to read the repository contents.
permissions:
    contents: read

jobs:
    build:
        name: Build & Test
        runs-on: ubuntu-latest
        timeout-minutes: 5
        steps:
            - name: Checkout Code
              uses: actions/checkout@v4

            - name: Setup Node
              uses: actions/setup-node@v4
              with:
                  node-version: '18.x'

            - name: Setup Go
              uses: actions/setup-go@v5
              with:
                  go-version-file: 'go.mod'
                  cache: true

            - name: Build
              run: make all

            - name: Run Tests
              run: make test

    sonatype:
        name: Sonatype Lifecycle
        runs-on: ubuntu-latest
        timeout-minutes: 5
        steps:
            - name: Checkout Code
              uses: actions/checkout@v4

            - name: Setup Node
              uses: actions/setup-node@v4
              with:
                  node-version: '18.x'

            - name: Setup Go
              uses: actions/setup-go@v5
              with:
                  go-version-file: 'go.mod'
                  cache: true

            # See https://help.sonatype.com/en/npm-application-analysis.html
            - name: Install Production Node Dependencies
              run: yarn install --prod

            - name: Login to Docker Hub
              uses: docker/login-action@v3
              with:
                  username: ${{ secrets.DOCKER_HUB_USERNAME }}
                  password: ${{ secrets.DOCKER_HUB_TOKEN }}

            - name: Build Container and export to Docker
              uses: docker/build-push-action@v6
              with:
                  context: .
                  file: ./Dockerfile
                  load: true
                  platforms: linux/amd64
                  tags: sonatypecommunity/the-cla:${{ github.sha }}

            # @todo: replace with composite `evaluate` action once fixed
            - name: Setup Sonatype CLI
              uses: sonatype/actions/setup-iq-cli@v1
              with:
                  iq-cli-version: latest

            - uses: actions/setup-java@v4
              with:
                  distribution: 'temurin'
                  java-version: '17'

            - name: Sonatype Lifecycle Evaluation
              id: evaluate
              uses: sonatype/actions/run-iq-cli@v1
              with:
                  iq-server-url: ${{ secrets.SONATYPE_LIFECYCLE_URL }}
                  username: ${{ secrets.SONATYPE_LIFECYCLE_USERNAME }}
                  password: ${{ secrets.SONATYPE_LIFECYCLE_PASSWORD }}
                  application-id: ${{ env.LC_APPLICATION_ID }}
                  scan-targets: 'container:docker.io/sonatypecommunity/the-cla:${{ github.sha }} **/yarn.lock **/*.js **/*.ts **/*.tgz **/go.sum'

    code_quality:
        name: Code Quality
        runs-on: ubuntu-latest
        timeout-minutes: 5
        steps:
            - name: Checkout Code
              uses: actions/checkout@v4
              with:
                  # Disabling shallow clone is recommended for improving relevancy of reporting
                  fetch-depth: 0

            - name: Setup Go
              uses: actions/setup-go@v5
              with:
                  go-version-file: 'go.mod'
                  cache: true

            - name: Run Go Linter
              uses: golangci/golangci-lint-action@v5
              with:
                  version: latest
